<!-- Navbar -->
<ba-page-top></ba-page-top>

<!-- Sidebar -->
<ba-sidebar></ba-sidebar>

<!-- Main -->
<div class="al-main">
  <div class="al-content">
    <!-- Header -->
    <ba-content-top></ba-content-top>

    <!-- Content -->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer class="al-footer clearfix">
  <div class="al-footer-right" translate>{{'general.created_with'}} <i class="ion-heart"></i></div>
  <div class="al-footer-main clearfix">
    <div class="al-copy">&copy; <a href="http://akveo.com" translate>{{'general.akveo'}}</a> 2016</div>
    <ul class="al-share clearfix">
      <li><i class="socicon socicon-facebook"></i></li>
      <li><i class="socicon socicon-twitter"></i></li>
      <li><i class="socicon socicon-google"></i></li>
      <li><i class="socicon socicon-github"></i></li>
    </ul>
  </div>
</footer>

<!-- Back to top widget -->
<ba-back-top position="200"></ba-back-top>
