<!-- Navbar -->
<!-- <ba-page-top></ba-page-top> -->
<app-navbar></app-navbar>

<!-- Sidebar -->
<!-- <ba-sidebar></ba-sidebar> -->
<app-sidebar></app-sidebar>

<!-- Container -->
<div class="al-main">
  <div class="al-content">

    <!-- Header -->
    <!-- <ba-content-top></ba-content-top> -->
    <app-header></app-header>

    <!-- Content -->
    <router-outlet></router-outlet>

  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>

<!-- Back to top widget -->
<ba-back-top position="200"></ba-back-top>
